@namespace xml url(http://www.w3.org/XML/1998/namespace);
teiHeader {
  display: block;
  background: #EEE;
  border: thin solid gray;
  font-family: arial, helvetica, sans-serif;
  padding: 1em;
}
titleStmt {
  display:block;
}
titleStmt editor {
  display:block;
}
titleStmt respStmt {
  display: block;
}
*[xml|lang=ar] {
  direction: rtl;
}
body {
  margin: 1em;
}
p {
  display:block;
}
body p {
	direction:rtl;
	font-size: 20px;
}
body head {
  display:block;
  direction:rtl;
  font-size:28px;
}
*[rend=bold] {
	font-weight: bold;
}
